In [ ]:
URL = "https://en.wikipedia.org/wiki/List_of_players_who_have_scored_10,000_or_more_runs_in_One_Day_International_cricket"

In [ ]:
import numpy as np
import pandas as pd
from copy import deepcopy

In [ ]:
tables = pd.read_html(URL)

In [ ]:
len(tables)

13

In [ ]:
tables

[    No.                     Player  ...               Span[11] 10KI[11]
 0     1       Sachin Tendulkar[13]  ...     11 years, 103 days      259
 1     2    Kumar Sangakkara[b][14]  ...     11 years, 227 days      296
 2     3       Ricky Ponting[c][15]  ...      12 years, 37 days      266
 3     4   Sanath Jayasuriya[d][16]  ...     15 years, 226 days      328
 4     5  Mahela Jayawardene[e][17]  ...     13 years, 289 days      333
 5     6            Virat Kohli[18]  ...      10 years, 67 days      205
 6     7         Inzamam-ul-Haq[19]  ...     12 years, 302 days      299
 7     8      Jacques Kallis[f][20]  ...      13 years, 14 days      272
 8     9      Sourav Ganguly[g][21]  ...  13 years, 204 days[h]      263
 9    10        Rahul Dravid[i][25]  ...     10 years, 317 days      287
 10   11            MS Dhoni[j][26]  ...     14 years, 159 days      273
 11   12      Chris Gayle[k][l][27]  ...     19 years, 169 days      282
 12   13          Brian Lara[m][28]  ...      16 years, 37 days      278
 13   14   Tillakaratne Dilshan[29]  ...     15 years, 227 days      293

 [14 rows x 16 columns],           Teams  10,000 or more runs
 0         India                    5
 1     Sri Lanka                    4
 2   West Indies                    2
 3     Australia                    1
 4      Pakistan                    1
 5  South Africa                    1
 6         Total                   14,   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteBatsmen with 10,000 or more runs in ODI cricket .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteBatsmen with 10,000 or more runs in ODI cricket.1
 0                                          Australia                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Ricky Ponting (13,704)
 1                                              India                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Sachin Tendulkar (18,426) Virat Kohli (12,169)...
 2                                           Pakistan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Inzamam-ul-Haq (11,739)
 3                                       South Africa                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Jacques Kallis (11,579)
 4                                          Sri Lanka                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Kumar Sangakkara (14,234) Sanath Jayasuriya (1...
 5                                        West Indies                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Chris Gayle (10,480) Brian Lara (10,405)
 6             Current players are listed in italics.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Current players are listed in italics.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ,                                    vteCricket records                               vteCricket records.1
 0   Test recordsBy team Afghanistan Australia Bang...  Test recordsBy team Afghanistan Australia Bang...
 1                                        Test records                                       Test records
 2   By team Afghanistan Australia Bangladesh Engla...  By team Afghanistan Australia Bangladesh Engla...
 3                                             By team  Afghanistan Australia Bangladesh England India...
 4                                             Batting  Most career runs Triple centuries Centuries in...
 5                                             Bowling  Most career wickets Five-wicket hauls on debut...
 6   ODI recordsBy team Afghanistan Australia Bangl...  ODI recordsBy team Afghanistan Australia Bangl...
 7                                         ODI records                                        ODI records
 8   By team Afghanistan Australia Bangladesh Engla...  By team Afghanistan Australia Bangladesh Engla...
 9                                             By team  Afghanistan Australia Bangladesh England India...
 10                                            Batting  Most career runs Highest individual scores Cen...
 11                                            Bowling  Most career wickets Hat-tricks Five-wicket hau...
 12  T20I recordsBy team Afghanistan Australia Bang...  T20I recordsBy team Afghanistan Australia Bang...
 13                                       T20I records                                       T20I records
 14  By team Afghanistan Australia Bangladesh Engla...  By team Afghanistan Australia Bangladesh Engla...
 15                                            By team  Afghanistan Australia Bangladesh England India...
 16                                            Batting                                 Centuries 50 T20Is
 17                                            Bowling                       Five-wicket hauls Hat-tricks
 18  Miscellaneous records International centuries ...  Miscellaneous records International centuries ...
 19                              Miscellaneous records                              Miscellaneous records
 20  International centuries Career five-wicket hau...  International centuries Career five-wicket hau...
 21  Women's cricketRecords WTest records WODI reco...  Women's cricketRecords WTest records WODI reco...
 22                                    Women's cricket                                    Women's cricket
 23  Records WTest records WODI records WT20I recor...  Records WTest records WODI records WT20I recor...
 24                                            Records           WTest records WODI records WT20I records
 25                                            Batting  WTest centuries WODI centuries WT20I centuries...
 26                                            Bowling  WTest five-wicket hauls on debut WODI five-wic...,                                         Test records                                     Test records.1
 0  By team Afghanistan Australia Bangladesh Engla...  By team Afghanistan Australia Bangladesh Engla...
 1                                            By team  Afghanistan Australia Bangladesh England India...
 2                                            Batting  Most career runs Triple centuries Centuries in...
 3                                            Bowling  Most career wickets Five-wicket hauls on debut...,          0                                                  1
 0  By team  Afghanistan Australia Bangladesh England India...
 1  Batting  Most career runs Triple centuries Centuries in...
 2  Bowling  Most career wickets Five-wicket hauls on debut...,                                          ODI records                                      ODI records.1
 0  By team Afghanistan Australia Bangladesh Engla...  By team Afghanistan Australia Bangladesh Engla...
 1                                            By team  Afghanistan Australia Bangladesh England India...
 2                                            Batting  Most career runs Highest individual scores Cen...
 3                                            Bowling  Most career wickets Hat-tricks Five-wicket hau...,          0                                                  1
 0  By team  Afghanistan Australia Bangladesh England India...
 1  Batting  Most career runs Highest individual scores Cen...
 2  Bowling  Most career wickets Hat-tricks Five-wicket hau...,                                         T20I records                                     T20I records.1
 0  By team Afghanistan Australia Bangladesh Engla...  By team Afghanistan Australia Bangladesh Engla...
 1                                            By team  Afghanistan Australia Bangladesh England India...
 2                                            Batting                                 Centuries 50 T20Is
 3                                            Bowling                       Five-wicket hauls Hat-tricks,          0                                                  1
 0  By team  Afghanistan Australia Bangladesh England India...
 1  Batting                                 Centuries 50 T20Is
 2  Bowling                       Five-wicket hauls Hat-tricks,                                Miscellaneous records                            Miscellaneous records.1
 0  International centuries Career five-wicket hau...  International centuries Career five-wicket hau...,                                      Women's cricket                                  Women's cricket.1
 0  Records WTest records WODI records WT20I recor...  Records WTest records WODI records WT20I recor...
 1                                            Records           WTest records WODI records WT20I records
 2                                            Batting  WTest centuries WODI centuries WT20I centuries...
 3                                            Bowling  WTest five-wicket hauls on debut WODI five-wic...,          0                                                  1
 0  Records           WTest records WODI records WT20I records
 1  Batting  WTest centuries WODI centuries WT20I centuries...
 2  Bowling  WTest five-wicket hauls on debut WODI five-wic...]

In [ ]:
data = tables[0]

In [ ]:
data

    No.                     Player  ...               Span[11] 10KI[11]
0     1       Sachin Tendulkar[13]  ...     11 years, 103 days      259
1     2    Kumar Sangakkara[b][14]  ...     11 years, 227 days      296
2     3       Ricky Ponting[c][15]  ...      12 years, 37 days      266
3     4   Sanath Jayasuriya[d][16]  ...     15 years, 226 days      328
4     5  Mahela Jayawardene[e][17]  ...     13 years, 289 days      333
5     6            Virat Kohli[18]  ...      10 years, 67 days      205
6     7         Inzamam-ul-Haq[19]  ...     12 years, 302 days      299
7     8      Jacques Kallis[f][20]  ...      13 years, 14 days      272
8     9      Sourav Ganguly[g][21]  ...  13 years, 204 days[h]      263
9    10        Rahul Dravid[i][25]  ...     10 years, 317 days      287
10   11            MS Dhoni[j][26]  ...     14 years, 159 days      273
11   12      Chris Gayle[k][l][27]  ...     19 years, 169 days      282
12   13          Brian Lara[m][28]  ...      16 years, 37 days      278
13   14   Tillakaratne Dilshan[29]  ...     15 years, 227 days      293

[14 rows x 16 columns]

In [ ]:
df = deepcopy(data[["Player", "Team", "Runs"]])

In [ ]:
df

                       Player          Team   Runs
0        Sachin Tendulkar[13]         India  18426
1     Kumar Sangakkara[b][14]     Sri Lanka  14234
2        Ricky Ponting[c][15]     Australia  13704
3    Sanath Jayasuriya[d][16]     Sri Lanka  13430
4   Mahela Jayawardene[e][17]     Sri Lanka  12650
5             Virat Kohli[18]         India  12169
6          Inzamam-ul-Haq[19]      Pakistan  11739
7       Jacques Kallis[f][20]  South Africa  11579
8       Sourav Ganguly[g][21]         India  11363
9         Rahul Dravid[i][25]         India  10889
10            MS Dhoni[j][26]         India  10773
11      Chris Gayle[k][l][27]   West Indies  10480
12          Brian Lara[m][28]   West Indies  10405
13   Tillakaratne Dilshan[29]     Sri Lanka  10290

In [ ]:
!pip install -q fugue[sql]

     |████████████████████████████████| 405 kB 7.4 MB/s
     |████████████████████████████████| 54 kB 3.5 MB/s
     |████████████████████████████████| 194 kB 80.0 MB/s
     |████████████████████████████████| 117 kB 74.0 MB/s
     |████████████████████████████████| 131 kB 81.4 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
  Building wheel for antlr4-python3-runtime (setup.py) ... done
  Building wheel for ciso8601 (PEP 517) ... done

In [ ]:
from fugue_sql import fsql

In [ ]:
query_1 = """
SELECT * FROM df
PRINT
"""

In [ ]:
fsql(query_1).run()

PandasDataFrame
Player:str                                             |Team:str              |Runs:long
-------------------------------------------------------+----------------------+---------
Sachin Tendulkar[13]                                   |India                 |18426
Kumar Sangakkara[b][14]                                |Sri Lanka             |14234
Ricky Ponting[c][15]                                   |Australia             |13704
Sanath Jayasuriya[d][16]                               |Sri Lanka             |13430
Mahela Jayawardene[e][17]                              |Sri Lanka             |12650
Virat Kohli[18]                                        |India                 |12169
Inzamam-ul-Haq[19]                                     |Pakistan              |11739
Jacques Kallis[f][20]                                  |South Africa          |11579
Sourav Ganguly[g][21]                                  |India                 |11363
Rahul Dravid[i][25]                                    |India                 |10889

DataFrames()

In [ ]:
query_2 = """
SELECT Player FROM df
WHERE Team == "India"
PRINT
"""

In [ ]:
fsql(query_2).run()

PandasDataFrame
Player:str
----------------------------------------------------------------------------------------------------
Sachin Tendulkar[13]
Virat Kohli[18]
Sourav Ganguly[g][21]
Rahul Dravid[i][25]
MS Dhoni[j][26]
Total count: 5

DataFrames()

In [ ]:
query_3 = """
SELECT Team, Count(*) FROM df
GROUP BY Team
PRINT
"""

In [ ]:
fsql(query_3).run()

PandasDataFrame
Team:str                                                                         |_8f4d553e15f3:long
---------------------------------------------------------------------------------+------------------
Australia                                                                        |1
India                                                                            |5
Pakistan                                                                         |1
South Africa                                                                     |1
Sri Lanka                                                                        |4
West Indies                                                                      |2
Total count: 6

DataFrames()

In [ ]:
import fugue_sql
print(fugue_sql.__version__)

0.6.3